.masthead {
  margin-bottom: 1rem;
  padding-bottom: 0;
}
.masthead-title a:hover {
  text-decoration: none;
}
.masthead-title a:hover span {
  text-decoration: underline;
}
.masthead-title small {
  font-size: 100%;
}
@media (min-width: 38em) {
  html {
    font-size: 18px;
  }
}

.about {
  font-size: 95%;
  padding-bottom: 2em;
  border-top: 4px solid #eee;
  padding-top: 8px;
}
.about img {
  display: inline;
  margin: 0;
  border-radius: 0;
}
.about img.ico {
  display: inline-block;
  vertical-align: middle;
}
.about img.logo {
  border-radius: 5px;
  width: 60px;
  height: 60px;
  position: relative;
  top: 0.3em;
}
.about .column {
  display: block;
  vertical-align: top;
  margin-right: 0.5em;
}
@media (min-width: 38em) {
  .about img.logo {
    width: 80px;
    height: 80px;
  }
}
@media (min-width: 30em) {
  .about .column {
    display: inline-block;
  }
}

ul.index {
  list-style-type: none;
  padding-left: 0;
}
ul.index li {
  margin-bottom: 0.25em;
}
ul.index li span {
  color: #aaa;
  font-family: monospace !important;
  font-size: 80%;
}

