<div class="about">
  <div class="column first-column">
    <img src="https://secure.gravatar.com/avatar/54e74983d81fa2fbe4c28e8392532f18" class="logo">
  </div>
  <div class="column">
    <img src="/images/gmail.ico" class=ico> - <a href=mailto:vakhov@gmail.com>vakhov@gmail.com</a><br>
    <img src="/images/twitter.ico" class=ico> - <a href="https://twitter.com/#!/avakhov">twitter</a><br>
    <img src="/images/github.ico" class=ico> - <a href="https://github.com/avakhov">github</a><br>
  </div>
  <div class="column">
    <img src="/images/skype.ico" class=ico> - avakhov<br>
    <img src="/images/instagram.ico" class=ico> - <a href="http://instagram.com/avakhov">instagram</a><br>
    work at <a href="http://uchi.ru">uchi.ru</a>
  </div>
</div>
